{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>

    <div class="container">

        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            {% block left_side_bar %}{% endblock %}
        </div>

        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            {% block content %}{% endblock %}
        </div>

        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            {% block right_side_bar %}{% endblock %}
        </div>

    </div>

</body>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
